.drawingCanvas__sketchField {
  border: 2px solid black;
}

.drawingCanvas__main_container {
  display: flex;
}

.drawingCanvas__toolkit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.drawingCanvas__colors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawingCanvas__line_width {
  text-align: center;
}

.drawingCanvas__colors > .ui.label {
  margin-bottom: 10px;
}

.drawingCanvas__colors > .ui.black.button {
  margin-top: 10px;
}

.circle-picker {
  margin-bottom: 0;
}