.results__container {
  width: 25vw;
}

.results__container > .ui.list {
  margin-bottom: 0;
}

.results__playerScores_container {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.results__group {
  display: flex;
  flex-direction: column;
}

.results__image {
  margin-bottom: 2px !important;
}

.results__score {
  text-align: center;
}

.results__score:last-child {
  margin-right: 0.75em !important;
}