body {
  /* background-color: mistyrose; */
}

.ui.active.label {
  background-color: gold !important;
}

.app_header {
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding-top: 1%;
}

.players_container {
  width: 90%;
  margin: 0 auto; 
}

.answers_main, .guesses_main {
  display: flex;
  width: 98%;
  margin: 0 auto;
  height: 75vh;
}

.results_main > .drawnImage__image {
  margin: 0 auto;
}