body {
  /* background-color: mistyrose; */
}

.players_container {
  width: 90%;
  margin: 0 auto; 
}

.answers_main, .guesses_main {
  display: flex;
  width: 98%;
  margin: 0 auto;
  height: 75vh;
}

.results_main > .drawnImage__image {
  margin: 0 auto;
}