body {
  /* background-color: mistyrose; */
}

.app_header {
  padding-top: 0 !important;
}

.draw_container_back_button {
  margin-left: 10px;
} 

.ui.active.label {
  background-color: gold !important;
}

.app_header {
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding-top: 1%;
}

.players_container {
  width: 90%;
  margin: 0 auto; 
}

.answers_main, .guesses_details, .results_details {
  display: flex;
  width: 98%;
  margin: 0 auto;
  height: 75vh;
}

.guesses_footer {
  width: 98%;
  margin: 0 auto;
}

.results_main {
  
}

.results_footer {
  margin: 1% 2%;
  display: flex;
  justify-content: flex-end;
}